html.body {
  height: 100%;
}

#kaiyuan {
  height: 100%;
}

#kaiyuan .kaiyuan-header {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}

#kaiyuan .kaiyuan-header .nav2 {
  display: none;
}

#kaiyuan .kaiyuan-header h1 {
  width: 60px;
  height: 68px;
  margin: auto;
  padding-top: 62px;
  padding-bottom: 92px;
  background: url(../images/01.png) no-repeat center center;
}

#kaiyuan .kaiyuan-header ul {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ebebeb;
}

#kaiyuan .kaiyuan-header ul li {
  font-size: 12px;
  padding: 0px 21px;
  line-height: 56px;
}

#kaiyuan .kaiyuan-header ul li a {
  display: block;
  color: #505050;
}

#kaiyuan .kaiyuan-header ul li:hover {
  border-bottom: 1px solid #e67e22;
}

#kaiyuan .kaiyuan-header ul li:hover a {
  color: #e67e22;
}

#kaiyuan .kaiyuan-main {
  background: #ebebeb;
}

#kaiyuan .kaiyuan-main .content {
  max-width: 1140px;
  margin: auto;
  display: flex;
  padding-top: 35px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#kaiyuan .kaiyuan-main .content .left {
  width: 90%;
  margin: auto;
}

#kaiyuan .kaiyuan-main .content .left .left-1 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-1 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-1 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-1 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-1 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-1 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 38px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-1 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-1 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-1 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-1 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-2 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-2 img {
  width: 100%;
  margin-top: 20px;
}

#kaiyuan .kaiyuan-main .content .left .left-2 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-2 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-2 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-2 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-2 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 35px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-2 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-2 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-2 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-2 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-3 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-3 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-3 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-3 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-3 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-3 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 38px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-3 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-3 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-3 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-3 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-4 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-4 img {
  width: 100%;
  margin-top: 20px;
}

#kaiyuan .kaiyuan-main .content .left .left-4 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 35px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-4 p:nth-of-type(5) {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .kaiyuan-main .content .left .left-5 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-5 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 38px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-5 p:nth-of-type(5) {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .kaiyuan-main .content .left .left-6 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-6 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 38px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-6 p:nth-of-type(5) {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .kaiyuan-main .content .left .left-7 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-7 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 38px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-7 p:nth-of-type(5) {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .kaiyuan-main .content .left .left-8 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-8 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 38px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-8 p:nth-of-type(5) {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .kaiyuan-main .content .left .left-9 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-9 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 38px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-9 p:nth-of-type(5) {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .kaiyuan-main .content .left .left-10 {
  padding: 35px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-10 h2 {
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(1) {
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(1) span:nth-child(2) a {
  font-size: 12px;
  line-height: 12px;
  color: #e67e22;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(1) a:hover {
  text-decoration: underline;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(2) {
  white-space: pre-line;
  margin-top: 38px;
  font-size: 18px;
  line-height: 29px;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(3) {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin: 30px 0px;
  border-radius: 2px;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(3) a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(4) {
  border-top: 1px solid #ebebeb;
  margin-bottom: 49px;
}

#kaiyuan .kaiyuan-main .content .left .left-10 p:nth-of-type(5) {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .kaiyuan-main .content .left .left-11 {
  margin-bottom: 35px;
}

#kaiyuan .kaiyuan-main .content .left .left-11 p {
  text-align: center;
}

#kaiyuan .kaiyuan-main .content .left .left-11 p span {
  display: inline-block;
  width: 126px;
  height: 36px;
  background: #e67e22;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  border-radius: 2px;
  text-align: center;
  line-height: 36px;
}

#kaiyuan .kaiyuan-main .content .left .left-11 p a {
  width: 36px;
  height: 36px;
  background: #e67e22;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  border-radius: 2px;
  text-align: center;
  line-height: 36px;
}

#kaiyuan .kaiyuan-main .content .right {
  width: 90%;
  margin: auto;
}

#kaiyuan .kaiyuan-main .content .right .right-1 {
  padding: 21px 30px;
  background: #fff;
  box-sizing: border-box;
}

#kaiyuan .kaiyuan-main .content .right .right-1 h3 {
  width: 300px;
  display: flex;
  align-items: flex-end;
}

#kaiyuan .kaiyuan-main .content .right .right-1 h3 span:nth-child(1) {
  display: inline-block;
  width: 90px;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 9px;
  box-sizing: border-box;
  color: #303030;
  border-bottom: 1px solid #e67e22;
}

#kaiyuan .kaiyuan-main .content .right .right-1 h3 span:nth-child(2) {
  display: inline-block;
  width: 210px;
  height: 30px;
  border-bottom: 1px solid #ebebeb;
}

#kaiyuan .kaiyuan-main .content .right .right-1 p:nth-of-type(1) {
  font-size: 12px;
  color: #505050;
  margin-top: 27px;
}

#kaiyuan .kaiyuan-main .content .right .right-1 p:nth-of-type(n+2) {
  font-size: 12px;
  color: #e67e22;
  margin-top: 22px;
}

#kaiyuan .kaiyuan-main .content .right .right-2 {
  padding: 21px 30px;
  background: #fff;
  box-sizing: border-box;
  margin-top: 35px;
}

#kaiyuan .kaiyuan-main .content .right .right-2 h3 {
  width: 300px;
  display: flex;
  align-items: flex-end;
}

#kaiyuan .kaiyuan-main .content .right .right-2 h3 span:nth-child(1) {
  display: inline-block;
  width: 110px;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 9px;
  box-sizing: border-box;
  color: #303030;
  border-bottom: 1px solid #e67e22;
}

#kaiyuan .kaiyuan-main .content .right .right-2 h3 span:nth-child(2) {
  display: inline-block;
  width: 190px;
  height: 30px;
  border-bottom: 1px solid #ebebeb;
}

#kaiyuan .kaiyuan-main .content .right .right-2 p {
  font-size: 12px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  line-height: 36px;
  margin-top: 21px;
}

#kaiyuan .kaiyuan-main .content .right .right-2 p a {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
}

#kaiyuan .kaiyuan-main .content .right .right-2 p a:hover {
  background: #303030;
}

#kaiyuan .kaiyuan-main .content .right .right-3 {
  padding: 21px 30px;
  background: #fff;
  box-sizing: border-box;
  margin-top: 35px;
}

#kaiyuan .kaiyuan-main .content .right .right-3 h3 {
  width: 300px;
  display: flex;
  align-items: flex-end;
}

#kaiyuan .kaiyuan-main .content .right .right-3 h3 span:nth-child(1) {
  display: inline-block;
  width: 90px;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 9px;
  box-sizing: border-box;
  color: #303030;
  border-bottom: 1px solid #e67e22;
}

#kaiyuan .kaiyuan-main .content .right .right-3 h3 span:nth-child(2) {
  display: inline-block;
  width: 210px;
  height: 30px;
  border-bottom: 1px solid #ebebeb;
}

#kaiyuan .kaiyuan-main .content .right .right-3 p a {
  display: inline-block;
  color: #959595;
  padding: 4px 8px;
  border: 1px solid #ebebeb;
  font-size: 12px;
  box-sizing: border-box;
}

#kaiyuan .kaiyuan-main .content .right .right-3 p a:hover {
  background: #e67e22;
  color: #fff;
}

#kaiyuan .kaiyuan-main .content .right .right-3 p:nth-of-type(1) {
  margin-top: 21px;
  margin-bottom: 7px;
}

#kaiyuan .kaiyuan-main .content .right .right-3 p:nth-of-type(n+2) {
  margin-bottom: 7px;
}

#kaiyuan .kaiyuan-footer-1 {
  background: #202020;
  padding-bottom: 37px;
  box-sizing: border-box;
}

#kaiyuan .kaiyuan-footer-1 .content {
  width: 90%;
  margin: auto;
  max-width: 1140px;
  margin: auto;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 h4 {
  width: 300px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 22px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 h4 span:nth-child(1) {
  display: inline-block;
  width: 90px;
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  padding-top: 35px;
  padding-bottom: 9px;
  box-sizing: border-box;
  border-bottom: 1px solid #e67e22;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 h4 span:nth-child(2) {
  display: inline-block;
  height: 65px;
  width: 200px;
  border-bottom: 1px solid #303030;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(1) ul li {
  padding: 8px 0px;
  border-bottom: 1px dashed #505050;
  box-sizing: border-box;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(1) ul li p:nth-child(1) {
  font-size: 12px;
  color: #959595;
  line-height: 24px;
  white-space: pre-line;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(1) ul li p:nth-child(2) {
  font-size: 12px;
  color: #505050;
  line-height: 24px;
  margin-top: 12px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(2) p {
  margin-bottom: 7px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(2) p a {
  display: inline-block;
  border: 1px solid #303030;
  padding: 7px;
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-right: 11px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(2) p a:hover {
  color: #fff;
  background: #e67e22;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(3) ul li {
  box-sizing: border-box;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(3) ul li p {
  line-height: 12px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(3) ul li p span {
  font-size: 12px;
  line-height: 12px;
  line-height: 12px;
  color: #959595;
  margin-right: 27px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(3) ul li:nth-child(-n+3) {
  border-bottom: 1px dashed #303030;
  padding-bottom: 27px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(3) ul li:nth-child(1) p:nth-child(1) {
  margin-bottom: 20px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(3) ul li:nth-child(n+2) {
  padding-top: 21px;
}

#kaiyuan .kaiyuan-footer-1 .content .footer-1 div:nth-child(3) ul li::nth-child(4) {
  margin-bottom: 11px;
}

#kaiyuan .kaiyuan-footer-2 {
  border-top: 1px solid #303030;
  background: #111111;
}

#kaiyuan .kaiyuan-footer-2 p {
  text-align: center;
  padding-top: 34px;
  padding-bottom: 35px;
}

#kaiyuan .kaiyuan-footer-2 p span {
  font-size: 12px;
  color: #555555;
  line-height: 12px;
}
